OPENAI_API_KEY=your-openai-api-key-here
OPENAI_MODEL=gpt-4o
 
# Hardcoded for 3 day demo
# Will be replaced with DB queries after demo
HARDCODED_POLICY_NO=DTPS26402356
HARDCODED_ACCESS_TOKEN=d6c6bc59-3d68-4406-9be5-71c53803c33e
POLICY_DOCUMENT_API_URL=https://ms.yoorsdigital.com/pls-policy-services/external/quote/getPolicyDocument
 
CHROMA_DB_PATH=./vector_store/chroma_data
 
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=True